<nav [class.!bg-black]="isScrolled" class="fixed top-0 w-full z-40 flex items-center justify-between p-5 pl-14 bg-transparent text-sm font-bold text-gray-200 transition-colors duration-500">
  <div class="flex items-center">
    <img
      class="h-7 pr-12 cursor-pointer"
      src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg"
      alt="netflix-logo"
    />
    <ul class="flex gap-4">
      <li><a href="">Accueil</a></li>
      <li><a href="">Séries</a></li>
      <li><a href="">Films</a></li>
      <li><a href="">Jeux</a></li>
      <li><a href="">Nouveautés les plus regardées</a></li>
      <li><a href="">Ma liste</a></li>
      <li><a href="">Explorer par langue</a></li>
    </ul>
  </div>
  <div class="flex items-center gap-4 pr-14">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 cursor-pointer"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
      />
    </svg>
    <a href="">Jeunesse</a>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 cursor-pointer"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
      />
    </svg>
    <a href="" class="flex items-center">
      <img [src]="serviceProfile.selectedProfile()?.image" alt="profile-picture" class="rounded w-8" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 pl-2"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
      </svg>
    </a>
  </div>
</nav>
