.hero-container {
    height: 110vh;
    margin-bottom: -200px;
    animation: fadeIn 1.5s ease-in-out;


    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 280px;
        background: linear-gradient(to bottom, transparent, #141414);
    }

    .play-btn {
        background-color: white;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
    .info-btn {
        background-color: rgba(109, 108, 107, 0.6);

        &:hover {
            background-color: rgba(109, 108, 107, 0.5);
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.text-shadow {
    text-shadow: 2px 2px 4px black;
}