<div class="flex flex-col items-center justify-center h-screen">
    <h1 class="mb-10 text-4xl font-medium">Qui est-ce ?</h1>
    <div class="container flex justify-center gap-10">
        @for (profile of profiles; track profile.name) {
            <a (click)="goToHome()" class="flex flex-col items-center gap-4 cursor-pointer">
                <div class="avatar-container rounded" [style.backgroundImage]="'url(' + profile.image + ')'"></div>
                <p class="name text-xl text-gray-500 font-medium">{{ profile.name }}</p>
            </a>
        }
    </div>
</div>
